body {
  font-family: "Manrope", sans-serif;
}
h1,
h2,
h3 {
  letter-spacing: -0.03em;
}

h2 {
  margin-top: 150px;
  font-size: 18px;
  font-family: Manrope;
  letter-spacing: -0.54px;
  text-transform: uppercase;
  color: #121212;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 125px;
  background-color: #ffffff;
}

.container_black {
  width: 1400px;
  margin: 0 auto;
  margin-top: 90px;
  padding: 0 125px;
  padding-bottom: 150px;

  background-color: #121212;
}

.introduction__title {
  width: 956px;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: #121212;
}

.introduction__image {
  position: relative;
  margin-top: 30px;
  width: 1150px;
  height: 500px;
  background-image: url(img_1.png);
}

.introduction__text {
  position: absolute;
  max-width: 430px;
  left: 40px;
  bottom: 40px;
  font-size: 20px;
  font-weight: 400px;
  font-style: 20px;
  line-height: 27px;
  letter-spacing: -0.03em;
  color: #ffffff;
}

.about-us__text {
  margin-top: 30px;
  width: 1048px;
  font-weight: 400;
  font-size: 45px;
  line-height: 61px;
  letter-spacing: -1.35px;
  color: #121212;
}

.about-us__btn {
  display: inline-block;
  margin-top: 30px;
  padding: 20px 40px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  background-color: #ad1818;
  color: #ffffff;
}

.project__image {
  margin-top: 90px;
  width: 1150px;
  height: 450px;
}
.project__image_margin-30 {
  margin-top: 30px;
}

.project__title {
  margin-top: 15px;
  padding-bottom: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  color: #121212;
}

.project__link {
  margin-top: 15px;
  font-weight: 400;
  line-height: 27px;
  text-decoration: none;
  color: #ad1818;
}

.project__all-projects {
  display: block;
  width: 100%;
  margin-top: 90px;
  height: 153px;
  line-height: 153px;
  border: solid 1px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  font-size: 30px;
  letter-spacing: -0.03em;
  color: #ad1818;
  border-color: #ad1818;
}

.project__all-projects:hover {
  background-color: #ad1818;
  color: #ffffff;
}

.services__img {
  margin-top: 60px;
  width: 1150px;
  height: 270px;
}

.services__img_top {
  margin-top: 34px;
}

.services__text {
  margin-top: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  color: #ffffff;
}

.services__title {
  padding-top: 150px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #ffffff;
}
