body {
  font-family: "Manrope", sans-serif;
}
h1,
h2,
h3 {
  letter-spacing: -0.03em;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 125px;
  background-color: #ffffff;
}

.container_black {
  width: 1400px;
  margin: 0 auto;
  margin-top: 90px;
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #121212;
}

.container_inline {
  max-width: 1150px;
  margin: 0 auto;
}

.introduction_title {
  width: 956px;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: #121212;
}

.introduction_image {
  position: relative;
  margin-top: 30px;
  width: 1150px;
  height: 500px;
  background-image: url(img_1.png);
}

.introduction_text {
  position: absolute;
  max-width: 430px;
  left: 40px;
  bottom: 40px;
  font-size: 20px;
  font-weight: 400px;
  font-style: 20px;
  line-height: 27px;
  color: #ffffff;
}

.about_us_title {
  margin-top: 150px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #121212;
}

.about_us_text {
  margin-top: 30px;
  font-weight: 400;
  font-size: 45px;
  line-height: 61px;
  color: #121212;
}

.about_us_btn {
  display: inline-block;
  margin-top: 30px;
  padding: 20px 40px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  background-color: #ad1818;
  color: #ffffff;
}

.projects_title {
  margin-top: 150px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #121212;
}

.project_image {
  margin-top: 90px;
  width: 1150px;
  height: 450px;
}
.image_margin_30 {
  margin-top: 30px;
}

.project_title {
  margin-top: 15px;
  padding-bottom: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  color: #121212;
}

.project_link {
  margin-top: 15px;
  font-weight: 400;
  line-height: 27px;
  text-decoration: none;
  color: #ad1818;
}

.all_projects {
  display: block;
  width: 100%;
  margin-top: 90px;
  height: 153px;
  line-height: 153px;
  border: solid 1px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  font-size: 30px;
  letter-spacing: -0.03em;
  color: #ad1818;
  border-color: #ad1818;
}

.all_projects:hover {
  background-color: #ad1818;
  color: #ffffff;
}

.services_title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #ffffff;
}

.services_img {
  margin-top: 60px;
  width: 1150px;
  height: 270px;
}

.first_img {
  margin-top: 34px;
}

.services_text {
  margin-top: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  color: #ffffff;
}
